* {
    font-family: 'Poppins';
}

body {
    background-image: url(./photos/wallpaperflare.com_wallpaper.jpg);
}
nav {
    font-size: 15px;
    font-weight: 600;
}
h5 {
    font-weight: 600;
    font-size: 22px;
    margin-right: 540px;
    line-height: 36px;
}
header {
    background-color: #b3744d;
    opacity: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#mainimage {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#p1 {
    font-size: 20px;
    font-weight: 600;
}
h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
input {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
.card-img-top {
    height: 200px;
}
a:hover { 
    text-decoration: underline; 
}
 footer>* {
    font-size: 14px;
    font-weight: 50;
 }
 i {
    height: 10px;
 }
 footer {
    background-color: #2a211a;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
#welcome {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
    font-weight: 1000;
}
#home:hover {
    cursor: pointer;
    transform: scale(1.1);
    position: relative;
    z-index: 1;
  }
  
span {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    font-weight: 900;
    text-align: center;
}
#about {
    padding-top: 130px;
    padding-left: 100px;
}
#exhibition {
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}
.text {
    margin-top: 150px;
    margin-left: 50px;
}
.text>h2 {
    font-weight: 900;
    line-height: 1.5em;
}
.line {
    display: inline-block;
    width: 100%;
    border-top: 1px solid rgb(0, 0, 0);
  }
   h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  #contactus {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #btn {
    display: flex;
    justify-content:  end;
  }